/* #web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
} */
#article-container.post-content h1:before,
#article-container.post-content h2:before,
#article-container.post-content h3:before,
#article-container.post-content h4:before,
#article-container.post-content h5:before,
#article-container.post-content h6:before{
  position: absolute;
  display: inline-block;
  margin-left: -25px;
  font-size: 20px;
  top: calc(50% - 7px);
  /* background-color: blueviolet; */
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  content: '\f6ad';
  color: #f47466;
   /* 回形针 */
  /*content: '\f0c1' '\f863' '\f0a3'*/
  line-height: 1;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  transition: all .2s ease-out;
  /* 若要使用风车效果，请去掉下面的注释 */
  animation: avatar_turn_around 1s linear infinite;
}
#article-container.post-content h1:before{
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
}
#article-container.post-content h2:before{
  color: #fb7061;
  margin-left: -1.35rem;
  content: '\f69a';
  font-size: 1.1rem;
}
#article-container.post-content h3:before{
  color: #ffbf00;
  margin-left: -1.22rem;
  content: '\f6ad';
  font-size: 0.95rem;
}
#article-container.post-content h4:before{
  color: #a9e000;
  margin-left: -1.05rem;
  content: '\f863';
  font-size: 0.8rem;
}
#article-container.post-content h5:before{
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
}
#article-container.post-content h6:before{
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
}
#footer {
  /* 与背景渐变效果一致*/
  background-image: linear-gradient(-225deg, #d6badf 0%, #B8DCFF 28%, #58abf3 100%);
  /* opacity: 0.9; */
  background: rgba(26, 140, 247, 0.3);
}
#footer:before {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f07831;
  /* background-image: -webkit-linear-gradient( 45deg, #a674f3 0%,#a674f3 0%, #077ff3 25%,#077ff3 25%, #ff69b4 50%,#ff69b4 50%, #5246e2 75%,#5246e2 75%, transparent); */
  background-image: -webkit-linear-gradient( 45deg,  #077ff3 0%,#077ff3 25%, #ff69b4 26%,#ff69b4 50%, #5246e2 51%,#5246e2 75%, transparent 76%,transparent);
  /* background: -webkit-linear-gradient(ellipse 100% 100% at 80% 90%,#077ff3, #a674f3,#aa1200); */
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49B1F5;
}

.my_div_style{
  color:#5246e2;
  background-color: #ef50a8;

}
#article-container .my_music_style{
  position: relative;
}
#article-container .my_about_icon_style{
  color:#5246e2;
}

svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#article-container ul li{
  list-style-type: circle;
  list-style: telugu
}
#article-container p{
  margin:0;
}
#article-container li::marker {
  color: #e83e65;
  font-weight: 600;
  font-size: 1.05em;
}
.my_dialog_style{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color:rgba(0,0,0, .4);
  background-image:radial-gradient(ellipse 150% 114% at 50% 100%,#077ff3, #a674f3,#581d16);
  color:#fff;
  font-weight: 700;
  font-size: 18px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px;
}
.my_dialog_style .dialog_name{
  color: red;
  margin-left: 10px
}
.my_dialog_style .my_dialog_btn_style{
  /* display:block; */
  color:#077ff3;
  font-size: 16px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: #B8DCFF;
  padding:10px;
  border-radius: 50%;
}

/* 鼠标样式代码 */
body {
  cursor: url(/img/6283c365d20dd.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
  display: block
}

a,
button,
img {
  cursor: url(/img/6283c376afcfc.png), auto
}

.my_img_warp{
  background: #fff;
  box-sizing: border-box;
  padding: 10px;
  background-image: linear-gradient(45deg, #ac19db 0%, #5986b1 28%,#2c9d76 60%, #e2da28 100%);
  animation: img-loaging-anis 3s ease-in-out 0s infinite alternate;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
  
.my_img_warp .my_img_loading{
  width: 90px;
  height: 90px;
 /* animation: img-loaging-anis 3s ease-in-out 0s infinite alternate; */
  border-radius: 50%;
}
.custom_swal_style.swal2-popup{
  width: 200px;
}
.custom_swal_style .swal2-content{
  color: #fff;
  font-size: 16px;
}
/* .swal_icon_comm */
    
